# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# models data files
*.csv
*.png
*.json
# models parameter files
*.pth
*.ckpt
*.pt
*.joblib
*.zip
/fast-transformers
